extends layout

block content
  h1= title
  p Welcome to #{title}

  // Add a new paragraph to describe your interesting fact
  p I have a passion for crafting and love creating decorations for events and functions at home using recycled materials.
